@model IEnumerable<KolyadichiMVC.Models.KolCargo>
@*@model PagedList.IPagedList<KolyadichiMVC.Models.KolCargo>
@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Колядичи";
}

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TransportNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmgsNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmgsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeclarationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeclarationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempDislocationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempDislocationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TransportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmgsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmgsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeclarationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeclarationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDislocationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDislocationDate)
            </td>
            @*<td>
                    @Html.ActionLink("Details", "Details", new { id=item.CargoUnitID }) |
                </td>*@
        </tr>
    }

</table>
