@model PagedList.IPagedList<KolyadichiMVC.Models.StepKolCargo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Степянка";
}
<br />
@using (Html.BeginForm())
{
    <div class="col-lg-4">
        <div class="input-group">
            <input type="search" class="form-control" id="searchString" name="searchString" placeholder="Номер СМГС или Регистрационный номер" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Поиск</button>
            </span>
        </div>
        <br />
    </div>
}
<table class="table">
    <tr>
        <th>
            Номер транспортного средства
        </th>
        <th>
            Номер СМГС
        </th>
        <th>
            Дата СМГС
        </th>
        <th>
            Номер ТД
        </th>
        <th>
            Дата ТД
        </th>
        <th>
            Номер счета
        </th>
        <th>
            Дата счета
        </th>
        <th>
            Регистрационный номер ЭУРВ
        </th>
        <th>
            Дата
        </th>
        <th>
            Номер размещения на временное хранение
        </th>
        <th>
            Дата помещения на временное хранение
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmgsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmgsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeclarationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeclarationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDislocationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDislocationDate)
            </td>
        </tr>
    }

</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Stepyanka",
    new { page, currentFilter = ViewBag.CurrentFilter }))